.nav {
  background-color: rgba(0, 0, 0, 0.3); }
  @media screen and (max-width: 920px) {
    .nav {
      wrap: wrap; } }

.nav .brand {
  font-family: 'Montserrat Subrayada', sans-serif;
  color: white;
  font-size: 30px;
  padding-left: 20px; }
  @media screen and (max-width: 920px) {
    .nav .brand {
      width: 60%; } }

.nav .brand:hover {
  text-decoration: none; }

.navbar-links {
  display: flex;
  justify-content: space-between;
  width: 100%; }
  @media screen and (max-width: 920px) {
    .navbar-links {
      flex-direction: row;
      justify-content: flex-start;
      flex-wrap: wrap; } }

@media screen and (max-width: 920px) {
  .navbar-list {
    padding: 0; } }

.navbar-list.left {
  flex-grow: 1; }
  @media screen and (max-width: 920px) {
    .navbar-list.left {
      align-self: flex-end;
      padding-right: 40px; } }

.navbar-list.right {
  padding-right: 40px; }
  @media screen and (max-width: 920px) {
    .navbar-list.right {
      align-self: flex-end;
      flex-grow: 1;
      width: 100%; } }

.nav ul {
  list-style: none;
  display: flex;
  margin-bottom: 0; }

.nav li {
  align-self: center;
  font-size: 16px; }

.nav-link {
  color: white; }

.nav-link:hover {
  text-decoration: underline;
  color: white; }

.nav a {
  color: white; }

.nav form.form-inline input.form-control {
  height: 30px;
  align-self: center;
  font-size: 13px;
  padding: 0;
  text-align: center;
  padding-top: 2px; }

.nav li:hover {
  color: white;
  text-decoration: underline; }

.nav .searchbar {
  align-self: center; }
  @media screen and (max-width: 1130px) {
    .nav .searchbar {
      display: none; } }

.nav #searchForm {
  width: 200px;
  margin: 0;
  padding-top: 0;
  height: 10px; }
